﻿@model IEnumerable<Domain.Entities.Match>

@{
    ViewData["Title"] = "Home Page";
    var matchesCount = Model.Count();
}
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        @for (int i = 0; i < matchesCount; i++)
        {
            <li data-target="#myCarousel" data-slide-to="@i" class='@(i == 0 ? "active" : "")'></li>
        }
    </ol>
    <div class="carousel-inner" role="listbox">
        @for (int i = 0; i < matchesCount; i++)
        {
            var competitionLogo = Model.ElementAt(i).Competition.Logo;

            <div class='item @(i == 0 ? "active" : "")' style="background-image: url(../assets/competitions/@competitionLogo);">
                <div class="carousel-img-content">
                    <div><img src="~/assets/teams-darked/@(Model.ElementAt(i).HomeTeam.Crest)" class="carousel-img-home" /></div>
                    <div style="width:100px; text-align: center; padding-top:60px">
                        @if (Model.ElementAt(i).Date.ToShortDateString() == DateTime.Now.ToShortDateString())
                        {
                            <span class="label label-warning">TODAY</span>
                        }
                        @if (Model.ElementAt(i).Date.ToShortDateString() == DateTime.Now.AddDays(-1).ToShortDateString())
                        {
                            <span class="label label-danger">YESTERDAY</span>
                        }
                        @if (Model.ElementAt(i).Date.ToShortDateString() == DateTime.Now.AddDays(1).ToShortDateString())
                        {
                            <span class="label label-info">TOMORROW</span>
                        }
                    </div>
                    <div><img src="~/assets/teams-darked/@(Model.ElementAt(i).AwayTeam.Crest)" class="carousel-img-away" /></div>


                </div>
                <div class="carousel-caption" role="option">
                    <p>
                        @Html.Raw($"{Model.ElementAt(i).HomeTeam.Name.ToUpper()} - {Model.ElementAt(i).AwayTeam.Name.ToUpper()}")<br />
                    </p>
                    <p style="font-size:14px;">
                        @Model.ElementAt(i).Competition.Name<br />
                        @Model.ElementAt(i).Stage
                    </p>
                    <p style="font-size:14px;">
                        @Html.Raw($"{Model.ElementAt(i).Venue} - {Model.ElementAt(i).Locality}")<br>
                        @Html.Raw($"{Model.ElementAt(i).Date.ToString("dd/MM/yyyy - hh:mm")}")
                    </p>
                    <p>
                        <a class="btn btn-warning" href="~/matches/edit/@Model.ElementAt(i).MatchId">Edit Match</a>
                        <a class="btn btn-default" href="~/matches/compare?team1=@Model.ElementAt(i).HomeTeamId&team2=@Model.ElementAt(i).AwayTeamId">
                            Head-2-Head Stats
                        </a>
                    </p>
                </div>


            </div>
        }

    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>CONFEDERATIONS</h2>
        <ul>
            <li><a href="~/teams?confederation=1">UEFA</a></li>
            <li><a href="~/teams?confederation=2">CONMEBOL</a></li>
            <li><a href="~/teams?confederation=3">CONCACAF</a></li>
            <li><a href="~/teams?confederation=4">AFC</a></li>
            <li><a href="~/teams?confederation=5">AFC</a></li>
            <li><a href="~/teams?confederation=6">OFC</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>COMPETITIONS</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">FIFA World Cup</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">UEFA Euro</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">UEFA Nations League</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">FIFA Qualifiers</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Copa America</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">FIFA Confederations Cup</a></li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>INTERNATIONAL DATES</h2>
        <ul>
            <li>Sept. 7-12</li>
            <li>Oct. 12-17</li>
            <li>Nov. 16-21</li>
        </ul>
    </div>
   
</div>
