﻿@model Site.Models.MatchCompareViewModel

@{
    ViewData["Title"] = "Matches - Comparison";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1>
        Team Comparison <br />
    </h1>
</div>


<form method="get" action="~/Matches/Compare" class="form-inline">
    <div class="col">
        <label class="control-label">Team 1: </label>
        <select class="combobox" asp-items="ViewBag.Team1" name="team1">
            <option value="">Select a team</option>
        </select>
        <label class="control-label">Team 2:</label>
        <select class="combobox" asp-items="ViewBag.Team2" name="team2">
            <option value="">Select a team</option>
        </select>
        <button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-filter"></span> Filter </button>
    </div>
</form>
<hr />

@if (Model.Team1 != null && Model.Team2 != null)
{
    <div class="row">
        <div class="col-lg-1"></div>
        <img width="120" height="120" src="~/assets/teams/@(Model.Team1.Team.Crest)" /> <label class="text-uppercase">@Model.Team1.Team.Name - @Model.Team2.Team.Name </label>&nbsp;&nbsp;<img width="120" height="120" src="~/assets/teams/@(Model.Team2.Team.Crest)" />
    </div>


    @if (Model.Matches.Count() > 0)
    {

        <h3>Head-to-head stats</h3>
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <td class="control-label">Total played: </td>
                    <td>@Model.MatchesPlayed</td>
                </tr>
                <tr>
                    <td>Total scheduled:</td>
                    <td>@Model.MatchesScheduled</td>
                </tr>
                <tr>
                    <td><img src="~/assets/flags/24/@(Model.Team1.Team.TeamCode).png" />  @Model.Team1.Team.Name</td>
                    <td>🏆 @Model.Team1.Wins | ⚽ @Model.Team1.Goals</td>
                </tr>
                <tr>
                    <td><img src="~/assets/flags/24/@(Model.Team2.Team.TeamCode).png" />  @Model.Team2.Team.Name</td>
                    <td>🏆 @Model.Team2.Wins | ⚽ @Model.Team2.Goals </td>
                </tr>
                <tr>
                    <td>Draws:</td>
                    <td>@Model.Draws</td>
                </tr>
            </table>
        </div>
        <br />
        <hr />
        <h3>All Matches</h3>
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">
                        Home
                    </th>
                    <th class="text-center">
                        Score
                    </th>
                    <th class="text-center">
                        Away
                    </th>
                    <th>
                        Year
                    </th>
                    <th>
                        Competition
                    </th>
                    <th>
                        Stage
                    </th>
                    <th>
                        Venue
                    </th>
                    <th>
                        Locality
                    </th>

                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Matches.OrderBy(x => x.Date))
                {
                    <tr class="text-@(item.Status == Domain.Entities.MatchStatus.Scheduled ? "danger" : "")">
                        <td class="text-left">
                            <img src="~/assets/flags/24/@(item.HomeTeam.TeamCode).png" /> @Html.DisplayFor(modelItem => item.HomeTeam.TeamCode)
                        </td>
                        <td class="text-center">
                            @if (item.Status == Domain.Entities.MatchStatus.Finished)
                            {
                                <span>@string.Format("{0} - {1}", item.ScoreHome, item.ScoreAway)</span>
                                @if (item.PK)
                                {
                                    <br /><span class="label label-danger">PK</span>
                                    @string.Format("({0})", item.PKScore) 
                                }
                                else
                                {
                                    if(item.AET)
                                    {
                                        <br />
                                        <span class="label label-warning">AET</span>
                                    }
                                }
                            }
                            else
                            {
                                <span>-</span>
                            }
                        </td>
                        <td class="text-right">
                            @Html.DisplayFor(modelItem => item.AwayTeam.TeamCode) <img src="~/assets/flags/24/@(item.AwayTeam.TeamCode).png" />
                        </td>
                        <td title="@item.Date.ToString("dd/MM/yyyy hh:mm")">
                            @Html.DisplayFor(modelItem => item.Date.Year)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Competition.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Stage)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Venue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Locality)
                            @if (item.Status == Domain.Entities.MatchStatus.Scheduled)
                            {
                                <span class="label label-danger">Scheduled</span>
                            }
                        </td>
                        <td>
                            <a href="/Matches/Details/@(item.MatchId)" class="btn btn-sm btn-info" title="Visualizar" data-toggle="tooltip">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <br /><br />
        <h4>No matches registered between the specified teams. </h4>
    }
}