﻿@model Domain.Entities.Match
@using Domain.Entities

@{
    ViewData["Title"] = "Match - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Match - Create</h2>

<h4>Match</h4>
<hr />
<div class="row">
    <div class="col-md-2">
        <form asp-action="Create">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">

                <select asp-for="HomeTeamId" class="combobox" asp-items="ViewBag.HomeTeamId"><option value="">Team1</option></select>
                <input asp-for="ScoreHome" class="form-control-static" style="width:40px;" />
                <select asp-for="AwayTeamId" class="combobox" asp-items="ViewBag.AwayTeamId"><option value="">Team2</option></select>
                <input asp-for="ScoreAway" class="form-control-static" style="width:40px;" />


            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="AET" /> @Html.DisplayNameFor(model => model.AET)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="PK" /> @Html.DisplayNameFor(model => model.PK)
                    </label>
                </div>
                <label asp-for="PKScore" class="control-label"></label>
                <input asp-for="PKScore" class="form-control" />
            </div>
            <div class="form-group">

            </div>
            <div class="form-group">

            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompetitionId" class="control-label"></label>
                <select asp-for="CompetitionId" class="form-control" asp-items="ViewBag.CompetitionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Stage" class="control-label"></label>
                <input asp-for="Stage" class="form-control" />
                <span asp-validation-for="Stage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venue" class="control-label"></label>
                <input asp-for="Venue" class="form-control" />
                <span asp-validation-for="Venue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Locality" class="control-label"></label>
                <input asp-for="Locality" class="form-control" />
                <span asp-validation-for="Locality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<MatchStatus>()">
                </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsPublished" /> @Html.DisplayNameFor(model => model.IsPublished)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
