﻿@model Domain.Entities.Match

@{
    ViewData["Title"] = string.Format("{0} {1}-{2} {3} - Match Details", Model.HomeTeam.Name, Model.ScoreHome, Model.ScoreAway, Model.AwayTeam.Name);
    Layout = "~/Views/Shared/_Layout.cshtml";
    var parms = new Dictionary<string, string>
{
{"team1", Model.HomeTeamId.ToString() },
{"team2", Model.AwayTeamId.ToString() }
};
    var listparms = new Dictionary<string, string>
{
        {"competitionId", Model.CompetitionId.ToString() },
        {"teamId", Model.HomeTeamId.ToString() }
    };
}
<div class="breadcrumb">
    <div class="box-header with-border">
        <section class="row">
            <div class="col-lg-4">
                <div class="btn-group">
                    <a asp-action="Index" asp-all-route-data="listparms" class="btn btn-default">
                        <span class="glyphicon glyphicon-th-list"></span>
                        Back to List
                    </a>
                    <a asp-action="Compare" asp-all-route-data="parms" class="btn btn-success">
                        <span class="glyphicon glyphicon-th-list"></span>
                        Back to Compare
                    </a>
                    <a asp-action="Edit" asp-route-id="@(Model.MatchId)" class="btn btn-warning">
                        <span class="glyphicon glyphicon-pencil"></span>
                        Edit
                    </a>
                </div>
            </div>
        </section>
    </div>

    <div class="match-bg" style="background-image: url(../../assets/competitions/@Model.Competition.MatchBanner)">
        <div class="match-competition">
            <p>@($"{Model.Competition.Name} - {Model.Stage}")</p>
        </div>
        <br />
        <br />
        <div class="match-crestholder">
            <div class="match-homecrest">
                <img src="~/assets/teams-darked/@(Model.HomeTeam.Crest)" width="120" height="120" />
            </div>
            <div class="match-scoreboard">
                <p>
                    @if (Model.Status == Domain.Entities.MatchStatus.Scheduled)
                    {
                        @(string.Format("{0} - {1}", Model.HomeTeam.Name, Model.AwayTeam.Name))
                    }
                    else
                    {
                        @(string.Format("{0} {1} - {2} {3}", Model.HomeTeam.Name, Model.ScoreHome, Model.ScoreAway, Model.AwayTeam.Name))

                    }
                </p>
            </div>
            <div class="match-homecrest">
                <img src="~/assets/teams-darked/@(Model.AwayTeam.Crest)" width="120" height="120" />
            </div>
        </div>
        <br />
        <br />
        <br />
        <div class="match-info">

            <p style="text-align:center">
                @if (Model.Status == Domain.Entities.MatchStatus.Scheduled)
                {
                    <span class="label label-danger">Scheduled</span>
                }
                else
                {
                    <span class="label label-success">Finished</span>
                }
            </p>
            <p class="match-date">
                @string.Format("{0}/{1}/{2} - {3}h{4}", Model.Date.Day, Model.Date.Month, Model.Date.Year, Model.Date.Hour, Model.Date.Minute > 0 ? Model.Date.Minute.ToString() : "")<br />
                @($"{Model.Venue} - {Model.Locality}")
            </p>
        </div>

    </div>

    <div class="media">
        <div class="media-left media-middle">
            <p style="font-size:42px">🏟</p>
        </div>
        <div class="media-body">
            <span>Venue</span>
            <p class="lead">
                @Model.Venue (@Model.Locality)
            </p>
        </div>
    </div>
    <div class="media">
        <div class="media-left media-middle">
            <p style="font-size:42px">🏆</p>
        </div>
        <div class="media-body">
            <span>Competition</span>
            <p class="lead">
                @Model.Date.Year @Model.Competition.Name <br />@Model.Stage
            </p>
        </div>
    </div>
</div>

