﻿@model Domain.Entities.Match
@using Domain.Entities

@{
    ViewData["Title"] = string.Format("{0} - {1}", Model.HomeTeam.TeamCode, Model.AwayTeam.TeamCode) + " - Match - Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Match - Edit</h2>

<h4>Match</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MatchId" />
            <div class="form-group">
                <label asp-for="HomeTeamId" class="control-label"></label>
                <select asp-for="HomeTeamId" class="form-control" asp-items="ViewBag.HomeTeamId"></select>
                <span asp-validation-for="HomeTeamId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AwayTeamId" class="control-label"></label>
                <select asp-for="AwayTeamId" class="form-control" asp-items="ViewBag.AwayTeamId"></select>
                <span asp-validation-for="AwayTeamId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScoreHome" class="control-label"></label>
                <input asp-for="ScoreHome" class="form-control" />
                <span asp-validation-for="ScoreHome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScoreAway" class="control-label"></label>
                <input asp-for="ScoreAway" class="form-control" />
                <span asp-validation-for="ScoreAway" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="AET" /> @Html.DisplayNameFor(model => model.AET)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="PK" /> @Html.DisplayNameFor(model => model.PK)
                    </label>
                </div>
                <label asp-for="PKScore" class="control-label"></label>
                <input asp-for="PKScore" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompetitionId" class="control-label"></label>
                <select asp-for="CompetitionId" class="form-control" asp-items="ViewBag.CompetitionId"></select>
                <span asp-validation-for="CompetitionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stage" class="control-label"></label>
                <input asp-for="Stage" class="form-control" />
                <span asp-validation-for="Stage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venue" class="control-label"></label>
                <input asp-for="Venue" class="form-control" />
                <span asp-validation-for="Venue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Locality" class="control-label"></label>
                <input asp-for="Locality" class="form-control" />
                <span asp-validation-for="Locality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<MatchStatus>()"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsPublished" /> @Html.DisplayNameFor(model => model.IsPublished)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input asp-for="Created" class="form-control" type="hidden" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
