﻿@model Site.Models.MatchIndexViewModel

@{
    ViewData["Title"] = "Matches - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var pageFilter = "1";
    var pf = 1;
    var teamFilter = "";
    var competitionFilter = "";
    var statusFilter = "";
    var totalPages = ViewBag.TotalPages;
    if (Context.Request.Query["page"] != string.Empty)
    {
        pageFilter = Context.Request.Query["page"];
        if(pageFilter != null)
        {
            pf = int.Parse(pageFilter);
        }

    }
    if (Context.Request.Query["teamId"] != string.Empty)
    {
        teamFilter = Context.Request.Query["teamId"];
    }
    if (Context.Request.Query["competitionId"] != string.Empty)
    {
        competitionFilter = Context.Request.Query["competitionId"];
    }
    if (Context.Request.Query["scStatus"] != string.Empty)
    {
        statusFilter = Context.Request.Query["scStatus"];
    }
}

<h2>Matches - Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-action="Compare">Compare</a>
</p>



<h4>Filters</h4>
<div class="row">
    <div class="col-md-2">
        <form method="get" action="~/Matches">
            <div class="form-group">
                <label class="control-label">By Team</label>
                <select class="combobox" asp-items="@Model.Teams" name="teamId">
                    <option value="">Select a Team</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">By Competition</label>
                <select class="combobox" asp-items="@Model.Competitions" name="competitionId">
                    <option value="">Select a competition</option>
                </select>
            </div>

            <div class="form-group">
                <label class="control-label">By Status</label>
                <br />
                @switch (statusFilter)
                {
                    case "scheduled":
                        <input type="radio" value="scheduled" class="radio-inline" name="scStatus" checked="checked" /><span class="text-info">Scheduled</span>
                        <input type="radio" value="finished" class="radio-inline" name="scStatus" /><span class="text-info">Finished</span>
                        break;
                    case "finished":
                        <input type="radio" value="scheduled" class="radio-inline" name="scStatus" /><span class="text-info">Scheduled</span>
                        <input type="radio" value="finished" class="radio-inline" name="scStatus" checked="checked" /><span class="text-info">Finished</span>
                        break;
                    default:
                        <input type="radio" value="scheduled" class="radio-inline" name="scStatus" /><span class="text-info">Scheduled</span>
                        <input type="radio" value="finished" class="radio-inline" name="scStatus" /><span class="text-info">Finished</span>
                        break;
                }                
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-filter"></span> Filter </button>
            </div>


        </form>
    </div>
</div>
<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item @(pf == 1 ? "disabled" : "")">
            <a class="page-link" href="@(pf == 1 ? "#" : "?page=" + (pf-1).ToString())@(teamFilter == null ? "" : "&teamId="+teamFilter)@(competitionFilter == null ? "" : "&competitionId="+competitionFilter)@(statusFilter == null ? "" : "&scStatus="+statusFilter)" tabindex="-1">Previous</a>
        </li>
        <li class="page-item @(pf == 1 ? "active" : "")">
            <a class="page-link" href="~/matches/index?@(pf==1 ? "#" : "page="+(pf-1))@(teamFilter == "" ? "" : "&teamId="+teamFilter)@(competitionFilter == "" ? "" : "&competitionId="+competitionFilter)@(statusFilter == null ? "" : "&scStatus="+statusFilter)">@(pf == 1 ? pf : pf - 1)</a>
        </li>
        <li class="page-item @(pf > 1 ? "active" : "")">
            <a class="page-link" href="@(pf > 1 ? "#" : "?page=2")@(teamFilter == "" ? "" : "&teamId="+teamFilter)@(competitionFilter == "" ? "" : "&competitionId="+competitionFilter)@(statusFilter == null ? "" : "&scStatus="+statusFilter)">@(pf == 1 ? (pf + 1) : pf) <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item @(pf >= totalPages ? "disabled" : "")">
            <a class="page-link" href="@(pf == 1 ? "?page=3" : "?page="+(pf+1))@(teamFilter == "" ? "" : "&teamId="+teamFilter)@(competitionFilter == "" ? "" : "&competitionId="+competitionFilter)@(statusFilter == null ? "" : "&scStatus="+statusFilter)">@(pf == 1 ? 3 : pf + 1)</a>
        </li>
        <li class="page-item @(pf >= totalPages ? "disabled" : "")">
            <a class="page-link" href="?page=@(pf+1)@(teamFilter == "" ? "" : "&teamId="+teamFilter)@(competitionFilter == "" ? "" : "&competitionId="+competitionFilter)@(statusFilter == null ? "" : "&scStatus="+statusFilter)">Next</a>
        </li>
    </ul>
</nav>

<p>
    Total Matches: @ViewBag.Count
</p>
<table class="table">
    <thead>
        <tr>
            <th class="text-right">
                Home
            </th>
            <th>
                Score
            </th>
            <th>
                Away
            </th>
            <th>
                Year
            </th>
            <th>
                Competition
            </th>
            <th>
                Stage
            </th>
            <th>
                Venue
            </th>
            <th>
                Locality
            </th>

            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Matches.OrderBy(x => x.Date))
        {
            <tr class="text-@(item.Status == Domain.Entities.MatchStatus.Scheduled ? "danger" : "")">
                <td class="text-left">
                    <img src="~/assets/flags/24/@(item.HomeTeam.TeamCode).png" alt="@item.HomeTeam.Name" title="@item.HomeTeam.Name" /> @Html.DisplayFor(modelItem => item.HomeTeam.TeamCode)
                </td>
                <td class="text-center">
                    @if (item.Status == Domain.Entities.MatchStatus.Finished)
                    {
                        <span>@string.Format("{0} - {1}", item.ScoreHome, item.ScoreAway)</span>
                        @if (item.PK)
                        {
                            <br /><span class="label label-danger">PK</span>
                            @string.Format("({0})", item.PKScore)
                        }
                        else
                        {
                            if (item.AET)
                            {
                                <br />
                                <span class="label label-warning">AET</span>
                            }
                        }
                    }
                    else
                    {
                        <span>-</span>
                    }
                </td>
                <td class="text-right">
                    @Html.DisplayFor(modelItem => item.AwayTeam.TeamCode) <img src="~/assets/flags/24/@(item.AwayTeam.TeamCode).png" alt="@item.AwayTeam.Name" title="@item.AwayTeam.Name" />
                </td>
                <td title="@item.Date.ToString("dd/MM/yyyy hh:mm")">
                    @Html.DisplayFor(modelItem => item.Date.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Competition.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Venue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Locality)
                    @if (item.Status == Domain.Entities.MatchStatus.Scheduled)
                    {
                        <span class="label label-danger">Scheduled</span>
                }
                </td>
                <td>
                    <a href="/Matches/Details/@(item.MatchId)" class="btn btn-sm btn-info" title="Visualizar" data-toggle="tooltip">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                    <a href="/Matches/Edit/@(item.MatchId)" class="btn btn-sm btn-warning" title="Editar" data-toggle="tooltip">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <button type="button" class="btn btn-delete btn-sm btn-danger" data-target="#modalDelete@(item.MatchId)" data-toggle="tooltip" title="Deletar">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <div id="modalDelete@(item.MatchId)" class="modal fade modal-danger">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 class="modal-title">Remover</h4>
                                </div>

                                <div class="modal-body">
                                    Tem certeza de que deseja remover este registro?
                                </div>

                                <div class="modal-footer">
                                    <a class="btn btn-outline pull-left" data-dismiss="modal" aria-hidden="true">Cancelar</a>
                                    <a class="btn btn-outline pull-right" href="~/Matches/DeleteConfirmed/@(item.MatchId)">
                                        <i class="glyphicon glyphicon-remove"></i> Remover
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
