﻿@model Site.Models.VenuesIndexViewModel

@{
    ViewData["Title"] = "Index";
    var totalPages = ViewBag.TotalPages;
    var pageFilter = "1";
    var pf = 1;
    var teamFilter = "";
    var confederationFilter = "";
    var statusFilter = "";
    if (Context.Request.Query["page"] != string.Empty)
    {
        pageFilter = Context.Request.Query["page"];
        if (pageFilter != null)
        {
            pf = int.Parse(pageFilter);
        }

    }
    if (Context.Request.Query["teamId"] != string.Empty)
    {
        teamFilter = Context.Request.Query["teamId"];
    }
    if (Context.Request.Query["confederationId"] != string.Empty)
    {
        confederationFilter = Context.Request.Query["confederationId"];
    }
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<h4>Filters</h4>
<div class="row">
    <div class="col-md-2">
        <form method="get" action="~/Venues">
            <div class="form-group">
                <label class="control-label">By Team</label>
                <select class="combobox" asp-items="@Model.Teams" name="teamId">
                    <option value="">Select a Country</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">By confederation</label>
                <select class="combobox" asp-items="@Model.Confederations" name="confederationId">
                    <option value="">Select a confederation</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">By Locality</label>
                <select class="combobox" asp-items="@Model.Localities" name="locality">
                    <option value="">type a locality</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary"> <span class="glyphicon glyphicon-filter"></span> Filter </button>
            </div>


        </form>
    </div>
</div>

<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item @(pf == 1 ? "disabled" : "")">
            <a class="page-link" href="@(pf == 1 ? "#" : "?page=" + (pf-1).ToString())@(teamFilter == null ? "" : "&teamId="+teamFilter)@(confederationFilter == null ? "" : "&confederationId="+confederationFilter)@(statusFilter == null ? "" : "&scStatus="+statusFilter)" tabindex="-1">Previous</a>
        </li>
        <li class="page-item @(pf == 1 ? "active" : "")">
            <a class="page-link" href="~/venues/index?@(pf==1 ? "#" : "page="+(pf-1))@(teamFilter == "" ? "" : "&teamId="+teamFilter)@(confederationFilter == "" ? "" : "&confederationId="+confederationFilter)@(statusFilter == null ? "" : "&scStatus="+statusFilter)">@(pf == 1 ? pf : pf - 1)</a>
        </li>
        <li class="page-item @(pf > 1 ? "active" : "")">
            <a class="page-link" href="@(pf > 1 ? "#" : "?page=2")@(teamFilter == "" ? "" : "&teamId="+teamFilter)@(confederationFilter == "" ? "" : "&confederationId="+confederationFilter)@(statusFilter == null ? "" : "&scStatus="+statusFilter)">@(pf == 1 ? (pf + 1) : pf) <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item @(pf >= totalPages ? "disabled" : "")">
            <a class="page-link" href="@(pf == 1 ? "?page=3" : "?page="+(pf+1))@(teamFilter == "" ? "" : "&teamId="+teamFilter)@(confederationFilter == "" ? "" : "&confederationId="+confederationFilter)@(statusFilter == null ? "" : "&scStatus="+statusFilter)">@(pf == 1 ? 3 : pf + 1)</a>
        </li>
        <li class="page-item @(pf >= totalPages ? "disabled" : "")">
            <a class="page-link" href="?page=@(pf+1)@(teamFilter == "" ? "" : "&teamId="+teamFilter)@(confederationFilter == "" ? "" : "&confederationId="+confederationFilter)@(statusFilter == null ? "" : "&scStatus="+statusFilter)">Next</a>
        </li>
    </ul>
</nav>
<p>
    Total Stadiums: @ViewBag.Count
</p>
<table class="table">
    <thead>
        <tr>
            <th width="50"></th>
            <th>
                Name
            </th>
            <th>
                Locality
            </th>
            <th>
                Capacity
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Venues)
        {
        <tr>
            <td>
                <img src="~/assets/flags/24/@(item.Team.TeamCode).png" alt="@item.Team.Name" title="@item.Team.Name" />
            </td>
            <td>                
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @string.Format("{0}, {1}", item.Locality, item.Team.TeamCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                <a href="/Venues/Details/@(item.VenueId)" class="btn btn-sm btn-info" title="Visualizar" data-toggle="tooltip">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
                <a href="/Venues/Edit/@(item.VenueId)" class="btn btn-sm btn-warning" title="Editar" data-toggle="tooltip">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <button type="button" class="btn btn-delete btn-sm btn-danger" data-target="#modalDelete@(item.VenueId)" data-toggle="tooltip" title="Deletar">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </td>
        </tr>
        }
    </tbody>
</table>
