﻿:root {
    --url: url(../images/bannerbg_unl.png);
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    text-align: center;
    font-size: 24px;
    line-height: 1.4;
}

.carousel-img-content{
    display: flex;
    flex-direction: row;
    align-content: center;
    height:400px;
    width:100%;    
    margin-left: 400px;
}

.carousel-img-away {
    margin-top: 20px;
    width: 120px;
    height: 120px;
}

.carousel-img-home{
    margin-top: 20px;
    width:120px;
    height:120px;
}

.carousel-inner{
    align-items: center;
    height: 400px;
}
/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item {
    width: 100%;
    
}

.match-detail{
    width: 100%;
    height: 450px;    
}
/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


.match-bg{
    width: 1150px;
    height: 450px;
}

.match-competition {
    text-align: center;
    font-size: 24px;
    color: white;
    font-family:'Segoe UI';
    line-height: 1.4;
    padding-top: 30px;
}

.match-crestholder {
    width: 100%;
    text-align: center;
    height: 160px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.match-homecrest{
    width: 120px;
    height: 120px;    
}

.match-scoreboard{
    text-align: center;
    font-size: 36px;
    color: white;
    height: 44px;
    font-family: 'Segoe UI';
    line-height: 1.4;
    align-content:center;
    margin: 50px;
}

.match-info{
    align-items: baseline;
}

.match-date{
    font-size: 20px;
    color: white;
    text-align: center;
    font-family: 'Segoe UI';
}