﻿@model IEnumerable<Domain.Entities.Confederation>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Updated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPublished)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Updated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsPublished)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>
                <td>
                    <a href="/Matches/Details/@(item.ConfederationId)" class="btn btn-sm btn-info" title="Visualizar" data-toggle="tooltip">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                    <a href="/Matches/Edit/@(item.ConfederationId)" class="btn btn-sm btn-warning" title="Editar" data-toggle="tooltip">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <button type="button" class="btn btn-delete btn-sm btn-danger" data-target="#modalDelete@(item.ConfederationId)" data-toggle="tooltip" title="Deletar">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
