﻿@model Domain.Entities.Team

@{
    ViewData["Title"] = "Teams - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Teams - Create</h2>

<h4>Team</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crest" class="control-label"></label>
                <input type="file" name="file" class="control-label" />
                <span asp-validation-for="Crest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmojiFlag" class="control-label">Flag</label>
                <input asp-for="EmojiFlag" class="form-control" />
                <span asp-validation-for="Crest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamCode" class="control-label">Code</label>
                <input asp-for="TeamCode" class="form-control" maxlength="3" />
                <span asp-validation-for="Crest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsPublished" /> @Html.DisplayNameFor(model => model.IsPublished)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
