﻿@model Site.Models.TeamDetailViewModel

@{
    ViewData["Title"] = Model.Name + " - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb">
    <div class="box-header with-border">
        <section class="row">
            <div class="col-lg-4">
                <div class="btn-group">
                    <a asp-action="Index" class="btn btn-default">
                        <span class="glyphicon glyphicon-th-list"></span>
                        Back to List
                    </a>
                    <a asp-action="Edit" asp-route-id="@(Model.TeamId)" class="btn btn-warning">
                        <span class="glyphicon glyphicon-pencil"></span>
                        Edit
                    </a>
                </div>
            </div>
        </section>
    </div>

    <div class="jumbotron">
        <h2 class="text-left">
            <img src="~/assets/teams/@(Model.Crest)" width="120" height="120" />
            @Model.Name
        </h2>
    </div>
</div>

<h3>Team Info</h3>
<div class="col-md-12">
    <table class="table table-responsive">
        <tr>
            <th class="col-md-3"><strong>Full Name: </strong> </th>
            <td class="col-md-3">@Model.FullName</td>
            <td></td>
        </tr>
        <tr>
            <th class="col-md-3">Est.: </th>
            <td class="col-md-3">@Model.EstablishedAt.ToString("dd/MM/yyyy")</td>
            <td></td>
        </tr>
        <tr>
            <th class="col-md-3">Confederation: </th>
            <td class="col-md-3">@Model.Confederation.Name</td>
            <td></td>
        </tr>
        <tr>
            <th class="col-md-3">Nickname: </th>
            <td class="col-md-3"><i>@Model.NickName</i></td>
            <td></td>
        </tr>
        <tr>
            <th class="col-md-3">Home Ground: </th>
            <td class="col-md-3">@Model.HomeAt</td>
            <td></td>
        </tr>

    </table>
</div>
<h3>Team stats</h3>
<div class="col-md-12">
    <table class="table table-responsive">
        <tr>
            <th class="col-md-2"><i class="text-success glyphicon glyphicon-check"></i> Total played: </th>
            <td class="col-md-2">@Model.TotalPlayed (@Model.PerformanceRecord.ToString("0.00")%)</td>
            <td>
                <a href="/Matches/Index?teamId=@(Model.TeamId)&scStatus=finished" class="btn btn-sm btn-info" title="View finished matches" data-toggle="tooltip">
                    <span class="glyphicon glyphicon-list"></span>
                </a>
            </td>
        </tr>
        <tr>
            <th class="col-md-2"><i class="text-warning glyphicon glyphicon-calendar"></i> Total scheduled:</th>
            <td class="col-md-2">@Model.TotalScheduled</td>
            <td>
                <a href="/Matches/Index?teamId=@(Model.TeamId)&scStatus=scheduled" class="btn btn-sm btn-info" title="View scheduled matches" data-toggle="tooltip">
                    <span class="glyphicon glyphicon-list"></span>
                </a>
            </td>
        </tr>
        <tr>
            <th class="col-md-2"><i class="text-success glyphicon glyphicon-plus"></i> Wins:</th>
            <td>@Model.Wins</td>
            <td></td>
        </tr>
        <tr>
            <th class="col-md-2"><i class="text-warning glyphicon glyphicon-minus"></i> Draws:</th>
            <td>@Model.Draws</td>
            <td></td>
        </tr>
        <tr>
            <th class="col-md-2"><i class="text-danger glyphicon glyphicon-remove"></i> Losses:</th>
            <td>@Model.Losses</td>
            <td></td>
        </tr>
        <tr>
            <th class="col-md-2">⚽ Goals Scored:</th>
            <td>@Model.GoalsScored </td>
            @if (Model.GoalsScoredAverage.ToString().Length > 3)
            {
                <td><strong>Average:</strong> @Model.GoalsScoredAverage.ToString("0.00")</td>
            }
            else
            {
                <td> - </td>
            }

        </tr>
        <tr>
            <th class="col-md-2">⭕ Goals Against:</th>
            <td>@Model.GoalsAgainst </td>
            @if (Model.GoalsAgainstAverage.ToString().Length > 3)
            {
                <td><strong>Average:</strong> @Model.GoalsAgainstAverage.ToString("0.00")</td>

            }
            else
            {
                <td> - </td>
            }
        </tr>
        <tr>
            <th class="col-md-2">💱 Goal Difference:</th>
            <td class="text-@(Model.GoalDifference > 0 ? "success" : "danger")"><strong>@Model.GoalDifference</strong></td>
            <td></td>
        </tr>


    </table>
</div>
<h3>Matches</h3>
<div class="col-md-12">
    <table class="table table-responsive">
        @if (Model.FirstMatch != null)
        {
            <tr>
                <td>First Official Match:</td>
                <td class="text-left">
                    <img src="~/assets/flags/24/@(Model.FirstMatch.HomeTeam.TeamCode).png" alt="@Model.FirstMatch.HomeTeam.Name" title="@Model.FirstMatch.HomeTeam.Name" /> @Html.DisplayFor(modelItem => Model.FirstMatch.HomeTeam.TeamCode)

                    @if (Model.FirstMatch.Status == Domain.Entities.MatchStatus.Finished)
                    {
                        <span>@string.Format("{0} - {1}", Model.FirstMatch.ScoreHome, Model.FirstMatch.ScoreAway)</span>
                    }
                    else
                    {
                        <span>-</span>
                    }
                    @Html.DisplayFor(modelItem => Model.FirstMatch.AwayTeam.TeamCode) <img src="~/assets/flags/24/@(Model.FirstMatch.AwayTeam.TeamCode).png" alt="@Model.FirstMatch.AwayTeam.Name" title="@Model.FirstMatch.AwayTeam.Name" />
                </td>
                <td title="@Model.FirstMatch.Date.ToString("dd/MM/yyyy hh:mm")">
                    @Html.DisplayFor(modelItem => Model.FirstMatch.Date.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.FirstMatch.Competition.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.FirstMatch.Stage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.FirstMatch.Venue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.FirstMatch.Locality)
                </td>
                <td>
                    <a href="/Matches/Details/@(Model.FirstMatch.MatchId)" class="btn btn-sm btn-info" title="Visualizar" data-toggle="tooltip">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                </td>
            </tr>
        }
        @if (Model.LastMatch != null)
        {
            <tr>
                <td>Last Official Match:</td>
                <td class="text-left">
                    <img src="~/assets/flags/24/@(Model.LastMatch.HomeTeam.TeamCode).png" alt="@Model.LastMatch.HomeTeam.Name" title="@Model.LastMatch.HomeTeam.Name" /> @Html.DisplayFor(modelItem => Model.LastMatch.HomeTeam.TeamCode)

                    @if (Model.LastMatch.Status == Domain.Entities.MatchStatus.Finished)
                    {
                        <span>@string.Format("{0} - {1}", Model.LastMatch.ScoreHome, Model.LastMatch.ScoreAway)</span>
                    }
                    else
                    {
                        <span>-</span>
                    }
                    @Html.DisplayFor(modelItem => Model.LastMatch.AwayTeam.TeamCode) <img src="~/assets/flags/24/@(Model.LastMatch.AwayTeam.TeamCode).png" alt="@Model.LastMatch.AwayTeam.Name" title="@Model.LastMatch.AwayTeam.Name" />
                </td>
                <td title="@Model.LastMatch.Date.ToString("dd/MM/yyyy hh:mm")">
                    @Html.DisplayFor(modelItem => Model.LastMatch.Date.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.LastMatch.Competition.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.LastMatch.Stage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.LastMatch.Venue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.LastMatch.Locality)
                </td>
                <td>
                    <a href="/Matches/Details/@(Model.LastMatch.MatchId)" class="btn btn-sm btn-info" title="Visualizar" data-toggle="tooltip">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                </td>
            </tr>
        }
        @if (Model.NextMatch != null)
        {
            <tr>
                <td>Next Match:</td>
                <td class="text-left">
                    <img src="~/assets/flags/24/@(Model.NextMatch.HomeTeam.TeamCode).png" alt="@Model.NextMatch.HomeTeam.Name" title="@Model.NextMatch.HomeTeam.Name" /> @Html.DisplayFor(modelItem => Model.NextMatch.HomeTeam.TeamCode)

                    @if (Model.NextMatch.Status == Domain.Entities.MatchStatus.Finished)
                    {
                        <span>@string.Format("{0} - {1}", Model.NextMatch.ScoreHome, Model.NextMatch.ScoreAway)</span>
                    }
                    else
                    {
                        <span>-</span>
                    }
                    @Html.DisplayFor(modelItem => Model.NextMatch.AwayTeam.TeamCode) <img src="~/assets/flags/24/@(Model.NextMatch.AwayTeam.TeamCode).png" alt="@Model.NextMatch.AwayTeam.Name" title="@Model.NextMatch.AwayTeam.Name" />
                </td>
                <td title="@Model.NextMatch.Date.ToString("dd/MM/yyyy hh:mm")">
                    @Html.DisplayFor(modelItem => Model.NextMatch.Date.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.NextMatch.Competition.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.NextMatch.Stage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.NextMatch.Venue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.NextMatch.Locality)
                </td>
                <td>
                    <a href="/Matches/Details/@(Model.NextMatch.MatchId)" class="btn btn-sm btn-info" title="Visualizar" data-toggle="tooltip">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                </td>
            </tr>
        }
        @if (Model.BiggestWin != null)
        {
            <tr>
                <td>Biggest Win:</td>
                <td class="text-left">
                    <img src="~/assets/flags/24/@(Model.BiggestWin.HomeTeam.TeamCode).png" alt="@Model.BiggestWin.HomeTeam.Name" title="@Model.BiggestWin.HomeTeam.Name" /> @Html.DisplayFor(modelItem => Model.BiggestWin.HomeTeam.TeamCode)

                    @if (Model.BiggestWin.Status == Domain.Entities.MatchStatus.Finished)
                    {
                        <span>@string.Format("{0} - {1}", Model.BiggestWin.ScoreHome, Model.BiggestWin.ScoreAway)</span>
                    }
                    else
                    {
                        <span>-</span>
                    }
                    @Html.DisplayFor(modelItem => Model.BiggestWin.AwayTeam.TeamCode) <img src="~/assets/flags/24/@(Model.BiggestWin.AwayTeam.TeamCode).png" alt="@Model.BiggestWin.AwayTeam.Name" title="@Model.BiggestWin.AwayTeam.Name" />
                </td>
                <td title="@Model.BiggestWin.Date.ToString("dd/MM/yyyy hh:mm")">
                    @Html.DisplayFor(modelItem => Model.BiggestWin.Date.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.BiggestWin.Competition.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.BiggestWin.Stage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.BiggestWin.Venue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.BiggestWin.Locality)
                </td>
                <td>
                    <a href="/Matches/Details/@(Model.BiggestWin.MatchId)" class="btn btn-sm btn-info" title="Visualizar" data-toggle="tooltip">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                </td>
            </tr>
        }
        @if (Model.BiggestDefeat != null)
        {
            <tr>
                <td>Biggest Defeat:</td>
                <td class="text-left">
                    <img src="~/assets/flags/24/@(Model.BiggestDefeat.HomeTeam.TeamCode).png" alt="@Model.BiggestDefeat.HomeTeam.Name" title="@Model.BiggestDefeat.HomeTeam.Name" /> @Html.DisplayFor(modelItem => Model.BiggestDefeat.HomeTeam.TeamCode)

                    @if (Model.BiggestDefeat.Status == Domain.Entities.MatchStatus.Finished)
                    {
                        <span>@string.Format("{0} - {1}", Model.BiggestDefeat.ScoreHome, Model.BiggestDefeat.ScoreAway)</span>
                    }
                    else
                    {
                        <span>-</span>
                    }
                    @Html.DisplayFor(modelItem => Model.BiggestDefeat.AwayTeam.TeamCode) <img src="~/assets/flags/24/@(Model.BiggestDefeat.AwayTeam.TeamCode).png" alt="@Model.BiggestDefeat.AwayTeam.Name" title="@Model.BiggestDefeat.AwayTeam.Name" />
                </td>
                <td title="@Model.BiggestDefeat.Date.ToString("dd/MM/yyyy hh:mm")">
                    @Html.DisplayFor(modelItem => Model.BiggestDefeat.Date.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.BiggestDefeat.Competition.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.BiggestDefeat.Stage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.BiggestDefeat.Venue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.BiggestDefeat.Locality)
                </td>
                <td>
                    <a href="/Matches/Details/@(Model.BiggestDefeat.MatchId)" class="btn btn-sm btn-info" title="Visualizar" data-toggle="tooltip">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                </td>
            </tr>
        }
    </table>
</div>

<h3>Performance by Competition</h3>
<table class="table table-responsive">
    <tr>
        <th>Competition</th>
        <th><i class="text-success glyphicon glyphicon-check"></i></th>
        <th><i class="text-success glyphicon glyphicon-plus-sign"></i></th>
        <th><i class="text-warning glyphicon glyphicon-minus"></i></th>
        <th><i class="text-danger glyphicon glyphicon-remove"></i></th>
        <th>⚽</th>
        <th style="color:red">⭕</th>
        <th></th>
    </tr>
    @foreach (var c in Model.Competitions.OrderBy(x => x.Competition.CompetitionId))
    {
        <tr>
            <td>@c.Competition.Name</td>
            <td>@c.Played</td>
            <td>@c.Victories</td>
            <td>@c.Draws</td>
            <td>@c.Losses</td>
            <td>@c.GoalsScored</td>
            <td>@c.GoalsAgainst</td>
            <td>
                <a href="/Matches/Index?TeamId=@Model.TeamId&CompetitionId=@c.Competition.CompetitionId" class="btn btn-sm btn-info" title="Visualizar" data-toggle="tooltip">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
            </td>
        </tr>
    }
</table>