﻿@model Domain.Entities.Team

@{
    ViewData["Title"] = "Teams - Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Teams - Edit</h2>

<h4>Team</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TeamId" />
            <input type="hidden" asp-for="ConfederationId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NickName" class="control-label"></label>
                <input asp-for="NickName" class="form-control" />
                <span asp-validation-for="NickName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeAt" class="control-label"></label>
                <input asp-for="HomeAt" class="form-control" />
                <span asp-validation-for="HomeAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstablishedAt" class="control-label"></label>
                <input asp-for="EstablishedAt" class="form-control" />
                <span asp-validation-for="EstablishedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Crest" class="control-label"></label>
                <input asp-for="Crest" class="form-control" />
                <input type="file" name="file" />
                <span asp-validation-for="Crest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmojiFlag" class="control-label">Flag</label>
                <input asp-for="EmojiFlag" class="form-control" />
                <span asp-validation-for="Crest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamCode" class="control-label">Code</label>
                <input asp-for="TeamCode" class="form-control" />
                <span asp-validation-for="Crest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Created" class="form-control" type="hidden" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsPublished" /> @Html.DisplayNameFor(model => model.IsPublished)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
