﻿@model IEnumerable<Site.Models.TeamDetailViewModel>

@{
    ViewData["Title"] = "Teams - Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var orderParam = Context.Request.Query["order"].ToString();
    var confParam = Context.Request.Query["confederation"].ToString();
    int count = 1;
}

<h2>Teams - Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <h3>By Confederation</h3>
    @if(!string.IsNullOrEmpty(confParam))
    {
        <h4>@Model.FirstOrDefault().Confederation.Name</h4>
    }
    else
    {
        <h4>FIFA</h4>
    }
    <span>Filter: </span>
    <a href="~/teams?confederation=0&order=@orderParam">FIFA</a>
    <a href="~/teams?confederation=1&order=@orderParam">UEFA</a>
    <a href="~/teams?confederation=2&order=@orderParam">CONMEBOL</a>
    <a href="~/teams?confederation=3&order=@orderParam">CONCACAF</a>
    <a href="~/teams?confederation=4&order=@orderParam">AFC</a>
    <a href="~/teams?confederation=5&order=@orderParam">CAF</a>
    <a href="~/teams?confederation=6&order=@orderParam">OFC</a>

</div>
<br />
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Flag
            </th>
            <th>
                Name <a href="~/teams?order=name&confederation=@confParam"><span class="glyphicon glyphicon-sort-by-order"></span></a>
            </th>
            <th>
                Est. <a href="~/teams?order=est&confederation=@confParam"><span class="glyphicon glyphicon-sort-by-order"></span></a>
            </th>
            <th class="text-center" title="Matches">
                <i class="text-success glyphicon glyphicon-check"></i> <a href="~/teams?order=matches&confederation=@confParam"><span class="glyphicon glyphicon-sort-by-order"></span></a>
            </th>
            <th class="text-center" title="Wins">
                <i class="text-success glyphicon glyphicon-plus"></i> <a href="~/teams?order=wins&confederation=@confParam"><span class="glyphicon glyphicon-sort-by-order"></span></a>
            </th>
            <th class="text-center" title="Draws">
                <i class="text-warning glyphicon glyphicon-minus"></i> <a href="~/teams?order=draws&confederation=@confParam"><span class="glyphicon glyphicon-sort-by-order"></span></a>
            </th>
            <th class="text-center" title="Losses">
                <i class="text-danger glyphicon glyphicon-remove"></i> <a href="~/teams?order=losses&confederation=@confParam"><span class="glyphicon glyphicon-sort-by-order"></span></a>
            </th>
            <th class="text-center" title="Goals Scored">
                ⚽ <a href="~/teams?order=goalsscored&confederation=@confParam"><span class="glyphicon glyphicon-sort-by-order"></span></a>
            </th>
            <th class="text-center" title="Goals Against">
                ⭕ <a href="~/teams?order=goalsagainst&confederation=@confParam"><span class="glyphicon glyphicon-sort-by-order"></span></a>
            </th>
            <th class="text-center" title="Goal Difference">
                <span class="text-warning"><strong>±</strong></span> <a href="~/teams?order=goaldiff&confederation=@confParam"><span class="glyphicon glyphicon-sort-by-order"></span></a>
            </th>

            <th class="text-center" title="Goals Average">
                ⚽% <a href="~/teams?order=goalsscoredaverage&confederation=@confParam"><span class="glyphicon glyphicon-sort-by-order"></span></a>
            </th>
            <th class="text-center" title="Goals Against Average">
                ⭕% <a href="~/teams?order=goalsagainstaverage&confederation=@confParam"><span class="glyphicon glyphicon-sort-by-order"></span></a>
            </th>

            <th class="text-center" title="Performance">
                % <a href="~/teams?order=perf&confederation=@confParam"><span class="glyphicon glyphicon-sort-by-order"></span></a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@count</td>
                <td>
                    <img src="~/assets/flags/24/@(item.TeamCode).png" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>@item.EstablishedAt.Year</td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.TotalPlayed)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Wins)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Draws)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Losses)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.GoalsScored)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.GoalsAgainst)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.GoalDifference)
                </td>
                @if (item.GoalsScoredAverage.ToString().Length > 3)
                {
                    <td class="text-center">
                        @item.GoalsScoredAverage.ToString("0.00")
                    </td>
                }
                else
                {
                    <td class="text-center">0</td>
                }
                @if (item.GoalsAgainstAverage.ToString().Length > 3)
                {
                    <td class="text-center">
                        @item.GoalsAgainstAverage.ToString("0.00")
                    </td>

                }
                else
                {
                    <td class="text-center">0</td>
                }

                @if (item.PerformanceRecord > 0)
                {
                    <td class="text-center">
                        @item.PerformanceRecord.ToString("0.00")
                    </td>

                }
                else
                {
                    <td class="text-center">
                        0
                    </td>
                }


                <td>
                    <a href="/Teams/Details/@(item.TeamId)" class="btn btn-sm btn-info" title="Visualizar" data-toggle="tooltip">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                    <a href="/Teams/Edit/@(item.TeamId)" class="btn btn-sm btn-warning" title="Editar" data-toggle="tooltip">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <button type="button" class="btn btn-delete btn-sm btn-danger" data-target="#modalDelete@(item.TeamId)" data-toggle="tooltip" title="Deletar">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
            count++;
        }
    </tbody>
</table>
